<h1 class="border-bottom">Edit Task</h1>
<ul class ='form'>
  <%= form_for(@task) do |f| %>

    <li class='input'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>
    <li class='input'>
      <%= f.label :description %>
      <%= f.text_field :details %>
    </li>
    <li class='input-compl'>
      <%= f.label :completed %>
      <%= f.check_box :completed %>
    </li>
    
    <li class="update-btn"><%= f.submit %></li>
      
    
  <% end %>
</ul>